.form-box {
    width: 420px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 8px;
}

input {
    width: 100%;
    padding: 7px;
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #0066cc;
    color: white;
    border-radius: 5px;
    border: none;
}
