body {
    background: #eef2f3;
    font-family: Arial;
}

.box {
    width: 350px;
    margin: 120px auto;
    padding: 25px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px #aaa;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background: #009933;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #007a29;
}
