body {
    margin: 0;
    display: flex;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 230px;
    background-color: #1e3a5f;
    color: white;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 12px;
    margin-bottom: 10px;
    background: #294a74;
    border-radius: 6px;
}

.sidebar a:hover {
    background: #3f6aa1;
}

.content {
    flex: 1;
    padding: 40px;
    background: #f4f4f4;
}

.page {
    display: none;
}

.page.active {
    display: block;
}
